# Serveur
PORT=3000
NODE_ENV=development

# Base de données (PostgreSQL)
DATABASE_URL="postgresql://chatb2b:chatb2b@localhost:5432/chatb2b?schema=public"

# JWT
JWT_SECRET=change_moi_en_production
JWT_EXPIRES_IN=7d

# CORS
FRONTEND_URL=http://localhost:5173
